<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523323684219-vntbcabt43u6ago35a8s9mkjlhrserdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523323684219-vntbcabt43u6ago35a8s9mkjlhrserdg</string>
	<key>SERVER_CLIENT_ID</key>
	<string>523323684219-jfakov2bgsleeb6den4ktpohq4lcnae2.apps.googleusercontent.com</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>523323684219-rltj890jhj1ncb0dk1532vq4k8t3a6bp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5v0SWdJpH20Y7mPyOvzgYxgzZt1p27fY</string>
	<key>GCM_SENDER_ID</key>
	<string>523323684219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.schej.app</string>
	<key>PROJECT_ID</key>
	<string>schej-it</string>
	<key>STORAGE_BUCKET</key>
	<string>schej-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523323684219:ios:ef816e6a115d16b2d4b9de</string>
</dict>
</plist>
